<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app"></div>
    <template id="my-app">
        <ul>
            <li v-for="item in movies">{{ item }}</li>
        </ul>
        <input type="text" v-model="newMovie"><button @click="add">添加</button><button @click="search">搜索</button>
    </template>
</body>
</html>
<script>
    const app = {
        template: "#my-app",
        data() {
            return {
                message: "vue2",
                newMovie: "",
                movies: [
                    "盗墓空间",
                    "大头儿子",
                    "流浪地球"
                ]
            }
        },
        methods: {
            add() {
                this.movies.push(this.newMovie)
                this.newMovie = ""
            },
            search() {
                this.movies = this.movies.filter((item, index) => {
                    return index <= 1;
                })
            }
        }
    }
    Vue.createApp(app).mount("#app")
</script>